#menu_btn {
    color:white;
    line-height: 60px;
    margin-left: 15px;
    cursor: pointer;
}
#menu_btn:hover {
    color:#ccc;
}

#slide_menu {
    width: 230px;
    height:100%;
    color: white;
    background-color: #1E282C;
    padding-top: 40px;
    position :absolute;
}
#slide_menu a {
    color: white;
}
#slide_menu ul li {
    margin-left: 50px;
}
#slide_menu ul li a {
    line-height: 40px;
    display: block;
    height: 40px;
}

#main_area {
    height: 100vh;
    margin-left:230px;
}
